body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1170px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:2530px;
  background:inherit;
  background-color:rgba(222, 199, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:2530px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45 {
  position:fixed;
  right:0px;
  bottom:0px;
}
#u45_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:957px;
  height:407px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:407px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:407px;
  display:flex;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:225px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:1153px;
  width:182px;
  height:225px;
  display:flex;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:447px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1614px;
  width:943px;
  height:447px;
  display:flex;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:182px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:356px;
  width:348px;
  height:182px;
  display:flex;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OPPOSans Bold', 'OPPOSans Medium', 'OPPOSans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#5D3E4B;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:428px;
  width:207px;
  height:132px;
  display:flex;
  font-family:'OPPOSans Bold', 'OPPOSans Medium', 'OPPOSans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#5D3E4B;
}
#u51 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OPPOSans Bold', 'OPPOSans Medium', 'OPPOSans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#5D3E4B;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:428px;
  width:300px;
  height:132px;
  display:flex;
  font-family:'OPPOSans Bold', 'OPPOSans Medium', 'OPPOSans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#5D3E4B;
}
#u52 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OPPOSans Medium', 'OPPOSans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:43px;
  color:#5D3E4B;
  text-align:center;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:767px;
  width:1054px;
  height:228px;
  display:flex;
  font-family:'OPPOSans Medium', 'OPPOSans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:43px;
  color:#5D3E4B;
  text-align:center;
}
#u53 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
